<div class ="main">
<!--   <div class ="left"> asdasdasd</div> -->
  <div class ="center"> 
<!--   <div class ="right"> rtertert</div> -->

<div id="main">
  <div id="panel2" class="panel panel-default">
      <h1> I need to borrow a(n)... </h1> 
      <div class="panel-body">
        <form>
           <div class="form-group">
                  <input id="enter_Item_Name" type="text" class="form-control" placeholder="Item name" ng-model="$scope.temp.ItemName" required/>
                </div>
    <!--       <div class="form-group2">

                  <input id="enter_category" type="text"  placeholder="Category" required/>
                </div> <p> -->
                          <div class ="upload">
            <input id="profilePhotoFileUpload" type="file"/>
          </div>
          <button id="button" a href="borrow_lend.html" type="submit" class="btn btn-default" ng-click="requestBtnClick()">Submit</button>

        </form>
      </div>
    <script>
      var fileUploadControl = $("#profilePhotoFileUpload")[0];
      if (fileUploadControl.files.length > 0) {
      var file = fileUploadControl.files[0];
      var name = "photo.jpg";
      var parseFile = new Parse.File(name, file);

      parseFile.save().then(function() {
      // The file has been saved to Parse.
      }, 

      
      function(error) {
      // The file either could not be read, or could not be saved to Parse.
      });
      }
    </script>
    </div>